* {
  box-sizing: border-box;
}

body {
  background-color: #d8f4e4;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.board {
  width: 600px;
  height: 600px;
  margin: 22px auto 12px auto;
  position: relative;
}

.square {
  width: 32%;
  height: 32%;
  border-color: black;
  border-width: 2px;
  display: inline-block;
  position: absolute;
  position: relative;
}

.square:hover {
  cursor: pointer;
}

.top {
  border-bottom-style: solid;
}

.centre {
  border-left-style: solid;
  border-right-style: solid;
}

.bottom {
  border-top-style: solid;
}

.reset {
  margin: 0 400px;
}

button {
  font-size: 20px;
  padding: 5px 15px;
  background-color: inherit;
  border: solid 1px black;
  border-radius: 10%;
}

button:hover {
  cursor: pointer;
}

.x {
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 120px;
  line-height: 200px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.blowfish {
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 120px;
  line-height: 200px;
  text-align: center;
  font-family: sans-serif;
}

.test {
  visibility: visible;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/
